<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>


    <div id="banner">
        <div class="infobox">
            <h1>WellsConnected</h1>
          </div>
    </div>

    <div id="frontcontent" class="ui container">

      <div class="ui four column doubling stackable grid">
        <div class="column">
          <div class="ui fluid special card">
            <div class="content">
              <a class="header"><i class="wifi icon"></i> Wireless Cloud</a>
              <div class="meta">
                <span class="date">Free WiFi in the heart of the city.</span>
              </div>
            </div>
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Tell me more</div>
                  </div>
                </div>
              </div>
              <img src="/images/avatar/large/elliot.jpg">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid special card">
            <div class="content">
              <a class="header"><i class="server icon"></i> Core Infrastructure</a>
              <div class="meta">
                <span class="date">Fast. Reliable. Low cost.</span>
              </div>
            </div>
            <div class="blurring dimmable image">
              <div class="ui inverted dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Tell me more</div>
                  </div>
                </div>
              </div>
              <img src="/images/avatar/large/jenny.jpg">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid special card">
            <div class="content">
              <a class="header"><i class="call icon"></i>Telephony</a>
              <div class="meta">
                <span class="date">Flexible, enterprise-level provision</span>
              </div>
            </div>
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Tell me more</div>
                  </div>
                </div>
              </div>
              <img src="/images/avatar/large/elliot.jpg">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid special card">
            <div class="content">
              <a class="header"><i class="configure icon"></i> IT Services</a>
              <div class="meta">
                <span class="date">Friendly and reliable expertise.</span>
              </div>
            </div>
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Tell me more</div>
                  </div>
                </div>
              </div>
              <img src="/images/avatar/large/elliot.jpg">
            </div>
          </div>
        </div>
      </div>

    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
